aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
appdirs==1.4.4
asgiref==3.8.1
attrs==23.2.0
autobahn==24.4.2
Automat==25.4.16
Babel==2.10.3
bcc==0.29.1
bidict==0.23.1
blinker==1.9.0
Brlapi==0.8.5
certifi==2023.11.17
channels==4.2.2
channels_redis==4.2.1
chardet==5.2.0
click==8.1.6
cloud-init==24.4.1
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
contourpy==1.3.1
cryptography==41.0.7
cupshelpers==1.0
cycler==0.12.1
daphne==4.1.2
dbus-python==1.3.2
defer==1.0.6
distro==1.9.0
distro-info==1.7+build1
Django==5.2
django-redis==5.4.0
Flask==3.1.0
Flask-SocketIO==5.5.1
fonttools==4.56.0
frozenlist==1.6.0
geoip2==5.0.1
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
gunicorn==20.1.0
gyp==0.1
h11==0.14.0
httplib2==0.20.4
hyperlink==21.0.0
idna==3.6
incremental==24.7.2
ipaddress==1.0.23
itsdangerous==2.2.0
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kiwisolver==1.4.8
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
louis==3.29.0
lxml==5.3.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
maxminddb==2.6.3
mdurl==0.1.2
msgpack==1.1.0
multidict==6.4.3
netaddr==0.8.0
nftables==0.1
numpy==2.2.4
oauthlib==3.2.2
olefile==0.46
packaging==24.2
pexpect==4.9.0
pillow==10.2.0
propcache==0.3.1
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.25.1
pycap==2.6.0
pycups==2.0.1
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
pyOpenSSL==25.0.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
pyshark==0.6
python-apt==2.7.7+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-engineio==4.11.2
python-socketio==5.12.1
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
redis==5.2.1
requests==2.31.0
rich==13.7.1
scapy==2.6.1
screen-resolution-extra==0.0.0
semantic-version==2.10.0
service-identity==24.2.0
setuptools==68.1.2
simple-websocket==1.1.0
six==1.16.0
sqlparse==0.5.3
systemd-python==235
termcolor==2.5.0
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.10.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.0.7
vboxapi==1.0
wadllib==1.3.6
Werkzeug==3.1.3
wheel==0.42.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
yarl==1.20.0
zope.event==5.0
zope.interface==7.2
